* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: 	#c71515;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

article {
    flex: 2;
    padding: 1rem;
    background-color: aqua;
    margin: 0.5rem;
    border-radius: 50px;
    text-align: justify;
}

aside {
    flex: 1;
    padding: 1rem;
    background-color: white;
    margin: 0.5rem;
    border-radius: 25px;
    text-align: justify;
}

aside img {
    max-width: 100%;
    border-radius: 50px;
}

footer {
    background-color: black ;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 100px;
}

h1, h2 {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}